.outer-nav {
  background-color: $blue;
  padding: $gutter;
  color: $light-gray;
  .logo {
    font-weight: bold;
  }
  .sessions {
    display: inline-block;
    float: right;
  }
  a {
    color: $light-gray;
  }
}
